.info {
  margin-bottom: 100px;
}

.info_part {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

.info_part--third {
  padding-top: 66px;
}

.info_part--first {
  display: block;
}

.info_title {
  text-transform: uppercase;
  font-size: 32px;
  margin-bottom: 30px;
  font-weight: 300;
}

.info_part-textbox {
  display: flex;
  justify-content: space-between;
  gap: 0 20px;
}

.info_text {
  flex-basis: 440px;
  margin-bottom: 30px;
}

.info_part-img {
  object-fit: cover;
}

.info_content {
  flex-basis: 415px;
}

.info_part--second .info_text {
  max-width: 352px;
}

.info_part--third .info_text {
  max-width: 377px;
}

/* .info_table {
  flex-basis: 450px;
  border-bottom: solid 1px #040404;
  position: relative;
  top: 20px;
}

.info_table::before {
  content: "";
  border-top: 1px solid #040404;
  position: absolute;
  width: 100%;
  top: -20px;
}

.info_table td {
  padding-bottom: 20px;
} */
